body, #app {
    margin: 0;
    padding: 0;
}

header {
    letter-spacing: 4px;
    color: white;
}

button, input[type=button] {
    background-color: #b3cce5;
    border: none;
    border: 1px solid lightslategray;
    cursor: pointer;
}

#app {
    width: 100vw;
    height: 100%;
    background-image: url(../images/bg.JPG);
    background-size: cover;
    background-position: 50% 50%;
}

#contact-list, #contact-editor {
    background-color: white;
    margin: auto;
    padding: 9px;
    width: 25vw;
    min-width: 400px;
    height: 75vh;
    overflow-y: scroll;
    box-shadow: 0 0 25px 3px #363636;
}

#contact-list {
    margin-bottom: 20px;
}

#contact-list ul {
    padding-left: 0;
}

.contact {
    cursor: pointer;
    padding: 14px;
    border-radius: 4px;
}

.contact:hover {
    background-color: #b3cce5;
}

.contact h3 {
    margin-bottom: 2px;
}

.contact p {
    margin-top: 0;
}

#contact-editor {
    list-style: none;
}

#contact-editor li {
    margin: 12px 0;
}

@media all and (min-width: 850px) {
    #app {
        height: 100vh;
        display: flex;
    }
    
    #contact-list {
        margin-bottom: auto;
    }
}

@media all and (min-width: 1600px) {
    #contact-list {
        margin-left: 18vw;
        margin-right: 7vw;
    }

    #contact-editor {
        margin-left: 7vw;
        margin-right: 18vw;
    }
}